@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

@layer components {
    .icon__wrapper{
        @apply border rounded-full border-gray-600 w-[50px] h-[50px] grid place-items-center text-[22px]
    }
}

:root{
    --background-color: #ffffff;
    --foreground-color: #003cff;
    --primary-text-color: #4169e1;
    --home-bg-color: #f0f0f0;
    --secondary-text-color: #000000;
    --toggle-bg: #d3d3d3;
    --toggle-fg: #ffffff;
}

[data-theme="dark"] {
    --background-color: #383544;
    --foreground-color: #485554;
    --primary-text-color: #ffffff;
    --home-bg-color: #4169e1;
    --secondary-text-color: #ffffff;
    --toggle-bg: #4169e1;
    --toggle-fg: #ffffff;
  }


